<% provide(:title, 'Home') %>
<div class="jumbotron">
<div class="container">
  <h1>Bienvenidos a LateGame</h1>
  <h2>Esta es la pagina de inicio</h2>
  <%= link_to "Registrate", '#', class: "btn btn-primary btn-lg"%>  
  </div>  
</div>
<%= link_to image_tag("logo.png", alt: "LateGame", class:"logo-bottom"), 'http://rubyonrails.org/'%>