- provide(:title, "Editar Usuario")
%h1 Actualiza tu perfil
.row
  .col-md-6.col-md-offset-3
    = form_for(@user) do |f|
      = render 'fields', f: f
      = f.submit "Guardar cambios", class:"btn btn-large btn-primary"
    %br/
    = gravatar_for @user
    %a{href: "http://gravatar.com/emails"} Cambiar