
<%= render 'info' %>
<%= link_to 'Editar', edit_item_path(@item), class: "btn btn-primary" %> |
<%= link_to 'Volver', items_path, class: "btn btn-success" %> | 
<%= link_to 'Configurar', relationships_item_path(@item), class: "btn btn-warning" %>


</div>
<ul class="nav nav-tabs">
	<li class="active"><a href="#">Se Construye en</a></li>
	<li><a href="#">Se Construye apartir de </a></li>
</ul>
