@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Nixie+One|Kameron);
/*////////////////////////////////////////////////////*/
/*                     Custom CSS
/*    Jose David Pacheco Valedo
/*    KaosLatinGamers.
/*
/*////////////////////////////////////////////////////*/
*{
	border:0;
	margin:0;
	paddind:0;
}
img, video{
	max-width:100%;
}

/*////////////////////////////////////////////////////*/
/*          Variables                                 */
$lightGray: #D3D3D3;
$letterColor: #bcbcbc;
$orangeMediumLight: #ff8800;
@mixin box_sizing{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/*////////////////////////////////////////////////////*/


/* universal */

html{
	overflow-y: scroll; 
}

body{
	background: #e3ae7b no-repeat 50% 0 fixed;
	background-image: image-url("background.jpg");
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	color: $letterColor;
	padding-top: 70px;
}

.row{
	padding: 2em;
	margin: 0 auto;
}

section{
	overflow: auto;
}

textarea{
	resize: vertical;
}


.center{
	text-align: center;
	h1{
		margin-bottom: 10px;
	}
}

.logo-bottom{
	height: 100px;
}

.info{
	text-decoration: none;
	text-align: center;
}
/* Users index */
.users{
	list-style: none;
	margin: 0;
	li{
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid $lightGray;
		&:last-child{
			border-bottom: 1px solid $lightGray;
		}
	}
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nixie One', cursive;
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $lightGray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
.list-items{
	margin: auto;
}
.i-box{
	display: block;
	margin: .8em;
	width: 6.5em;
	height: 7.5em;
	float: left;
	text-decoration: none;
	border: .1em solid black;
	border-radius:0 0.5em 0 0.5em;
	background-image: -webkit-gradient(
	linear,
	right bottom,
	left top,
	color-stop(0, #FFB300),
	color-stop(1, #F8F8F8)
);
background-image: -o-linear-gradient(left top, #FFB300 0%, #F8F8F8 100%);
background-image: -moz-linear-gradient(left top, #FFB300 0%, #F8F8F8 100%);
background-image: -webkit-linear-gradient(left top, #FFB300 0%, #F8F8F8 100%);
background-image: -ms-linear-gradient(left top, #FFB300 0%, #F8F8F8 100%);
background-image: linear-gradient(to left top, #FFB300 0%, #F8F8F8 100%);
-ms-transition:all 0.5s ease-in;
			-moz-transition:all 0.5s ease-in;
			-o-transition:all 0.5s ease-in;
			-webkit-transition:all 0.5s ease-in;
			transition:all 0.5s ease-in;
	&:hover{
		text-decoration:none;
				-ms-transition:all 0.5s ease-out;
				-moz-transition:all 0.5s ease-out;
				-o-transition:all 0.5s ease-out;
				-webkit-transition:all 0.5s ease-out;
				transition:all 0.5s ease-out;
				box-shadow:1px 1px 1px 1px $orangeMediumLight;	
}
}
.icon-lol{
		padding: 1em;
		padding-top: 1em;
		width: 64px;
		height: 64px;
	}
.name-lol{
	display: block;
	font-family: 'Kameron', serif;
	text-align: center;
	color: white;
}

#item{
	background: #232323;
	border: 1px solid #383838;
	box-shadow: #000 0px 0px 0px 1px;
	-webkit-box-shadow: #000 0px 0px 0px 1px;
	-moz-box-shadow: #000 0px 0px 0px 1px;
	color: #cdcdcd;
	line-height: 180%;
	margin-bottom: 10px;
	padding: 10px;
}

#contenedor{
	background: rgba(21,21,21,0.84);
	box-shadow: rgba(0,0,0,0.7) 0px 1px 8px, inset rgba(0,0,0,0.4) 0px 0px 0px 1px;
	-webkit-box-shadow: rgba(0,0,0,0.7) 0px 1px 8px, inset rgba(0,0,0,0.4) 0px 0px 0px 1px;
	-moz-box-shadow: rgba(0,0,0,0.7) 0px 1px 8px, inset rgba(0,0,0,0.4) 0px 0px 0px 1px;
}
/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $orangeMediumLight;
	color: $lightGray;
	a{
		color: #555;
		&:hover{
			color: #222;
		}
	}
	small{
		float: left;
	}
	ul{
		float: right;
		list-style: none;
		li{
			float: left;
			margin-left: 10px;
		}
	}
}

/*sidebar */
aside{
	section{
		padding: 10px 0;
		border-top: 1px solid $lightGray;
		&:first-child{
			border:0;
			padding-top: 0;
		}
		span{
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1{
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $lightGray;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

.gravatar{
	float: left;
	margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input{
	border: 1px solid #bbb;
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	@include box_sizing;
}

input{
	height: auto !important;
}

#error_explanation{
	color: #f00;
	ul{
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors{
	@extend .control-group;
	@extend .error;
}

/* Microposts */

.microposts{
	list-style: none;
	margin: 10px 0 0 0;

	li{
		padding: 10px 0;
		border-top: 1px solid #e8e8e8;
	}
}

.content{
	display: block;
}

.timestamp{
	color: $lightGray;
}

.gravatar {
	float: left;
	margin-right: 10px;
}

aside{
	textarea{
		height: 100px;
		margin-bottom: 5px;
	}
}

.navbar-nav{
	padding-top: 1em;
	vertical-align: middle;
}

/* Miscellaneous */

.debug_dump{
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}
.navbar-brand{
	padding: 0;
	margin: 0;
}