@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Nixie+One|Kameron);
/*////////////////////////////////////////////////////*/
/*                     Custom CSS
/*    Jose David Pacheco Valedo
/*    KaosLatinGamers.
/*
/*////////////////////////////////////////////////////*/


/*////////////////////////////////////////////////////*/
/*          Variables                                 */
$lightGray: #D3D3D3;
$letterColor: #bcbcbc;
$orangeMediumLight: #ff8800;
@mixin box_sizing{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/*////////////////////////////////////////////////////*/


/* universal */

html{
	overflow-y: scroll; 
}

body{
	background: #e3ae7b no-repeat 50% 0 fixed;
	background-image: image-url("background.jpg");
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	color: $letterColor;
	padding-top: 70px;
}

.row{
	padding: 2em;
}

section{
	overflow: auto;
}

textarea{
	resize: vertical;
}


.center{
	text-align: center;
	h1{
		margin-bottom: 10px;
	}
}

.logo-bottom{
	height: 100px;
}

.info{
	text-decoration: none;
	text-align: center;
}
/* Users index */
.users{
	list-style: none;
	margin: 0;
	li{
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid $lightGray;
		&:last-child{
			border-bottom: 1px solid $lightGray;
		}
	}
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nixie One', cursive;
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $lightGray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.i-box{
	display: block;
	margin: .8em;
	width: 6.5em;
	height: 7.5em;
	float: left;
	text-decoration: none;
	border: .1em solid black;
	background: #f3c5bd; /* Old browsers */
background: -moz-linear-gradient(top,  #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 75%, #c72200 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3c5bd), color-stop(50%,#e86c57), color-stop(51%,#ea2803), color-stop(75%,#ff6600), color-stop(100%,#c72200)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 ); /* IE6-9 */
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
transition:All 1s ease-in;
-webkit-transition:All 1s ease-in;
-moz-transition:All 1s ease-in;
-o-transition:All 1s ease-in;
&:hover{
transition:all 1s ease-out;
-webkit-transition:all 1s ease-out;
-moz-transition:all 1s ease-out;
-o-transition:all 1s ease-out;
background: #b7deed; /* Old browsers */
background: -moz-linear-gradient(top,  #b7deed 0%, #71ceef 50%, #21b4e2 51%, #b7deed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7deed), color-stop(50%,#71ceef), color-stop(51%,#21b4e2), color-stop(100%,#b7deed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=0 ); /* IE6-9 */


}
}
.icon-lol{
		padding: 1em;
		padding-top: 1em;
		width: 64px;
		height: 64px;
	}
.name-lol{
	display: block;
	font-family: 'Kameron', serif;
	text-align: center;
	color: white;
}

#item{
	background: #232323;
	border: 1px solid #383838;
	box-shadow: #000 0px 0px 0px 1px;
	-webkit-box-shadow: #000 0px 0px 0px 1px;
	-moz-box-shadow: #000 0px 0px 0px 1px;
	color: #cdcdcd;
	line-height: 180%;
	margin-bottom: 10px;
	padding: 10px;
}

#contenedor{
	background: rgba(21,21,21,0.84);
	box-shadow: rgba(0,0,0,0.7) 0px 1px 8px, inset rgba(0,0,0,0.4) 0px 0px 0px 1px;
	-webkit-box-shadow: rgba(0,0,0,0.7) 0px 1px 8px, inset rgba(0,0,0,0.4) 0px 0px 0px 1px;
	-moz-box-shadow: rgba(0,0,0,0.7) 0px 1px 8px, inset rgba(0,0,0,0.4) 0px 0px 0px 1px;
}
/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $orangeMediumLight;
	color: $lightGray;
	a{
		color: #555;
		&:hover{
			color: #222;
		}
	}
	small{
		float: left;
	}
	ul{
		float: right;
		list-style: none;
		li{
			float: left;
			margin-left: 10px;
		}
	}
}

/*sidebar */
aside{
	section{
		padding: 10px 0;
		border-top: 1px solid $lightGray;
		&:first-child{
			border:0;
			padding-top: 0;
		}
		span{
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1{
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $lightGray;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

.gravatar{
	float: left;
	margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input{
	border: 1px solid #bbb;
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	@include box_sizing;
}

input{
	height: auto !important;
}

#error_explanation{
	color: #f00;
	ul{
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors{
	@extend .control-group;
	@extend .error;
}

/* Microposts */

.microposts{
	list-style: none;
	margin: 10px 0 0 0;

	li{
		padding: 10px 0;
		border-top: 1px solid #e8e8e8;
	}
}

.content{
	display: block;
}

.timestamp{
	color: $lightGray;
}

.gravatar {
	float: left;
	margin-right: 10px;
}

aside{
	textarea{
		height: 100px;
		margin-bottom: 5px;
	}
}

.navbar-nav{
	padding-top: 1em;
	vertical-align: middle;
}

/* Miscellaneous */

.debug_dump{
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}
.navbar-brand{
	padding: 0;
	margin: 0;
}